{% extends 'base.html.twig' %}
{% block body %}    

    <div class = "container my-5">
        {% for message in app.flashes('taskUpdateNotice') %}
            <div class = "alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        
        <h1>List of task you need to do</h1>

        <table class = "table my-5">
            <thead>
                <tr>
                    <th scope = "col">S.N.</th>
                    <th scope = "col">Name of Task</th>
                    <th scope = "col">Due Date</th>
                    <th scope = "col">Description</th>
                    <th scope = "col">Methods</th>
                </tr>
            </thead>
            <tbody>
                {% for data in ListOfTask %}
                <tr>
                    <th scope = "row">{{data.id}}</td>
                    <td>{{data.task}}</td>
                    <td>{{data.dueDate|date('d-m-Y')}}</td>
                    <td>{{data.description}}</td>
                    <td>
                        <button class = "btn btn-warning"> <a href = "{{ path('update',{'id':data.id}) }}" class = "text-decoration-none">   Update  </a> </button> 
                        <button class = "btn btn-danger"> <a href = "{{ path('delete',{'id':data.id}) }}" class = "text-decoration-none">   Delete  </a> </button>
                    </td>                
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(ListOfTask) }}
        </div>
    </div>    
{% endblock %}