{% extends 'base.html.twig' %}

{% block body %}
    <div class = "container my-5">
        <h1>Entire details of Logged In User</h1>
        <div class = "button text-center my-5">
            <button class = "btn-lg btn-outline-info"> <a href = {{path("home")}} class = "text-decoration-none">Home</a> </button>
        </div>

        <table class = "table my-5">
            <thead>
                <tr>
                    <th scope = "col">S.N.</th>
                    <th scope = "col">Name of Task</th>
                    <th scope = "col">Due Date</th>
                    <th scope = "col">Description</th>
                    <th scope = "col">Email ID of User</th>
                    <th scope = "col">ID of User</th>
                </tr>
            </thead>
            <tbody>
                {% for data in ListOfTask %}
                <tr>
                    <th scope = "row">{{data.id}}</th>
                    <td>{{data.task}}</th>
                    <td>{{data.dueDate|date('d-m-Y')}}</th>
                    <td>{{data.description}}</th>
                    <td>{{data.user.email}}</th>
                    <td>{{data.user.id}}</th>                                
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}